 body{
   margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #cecece;
 }

 h1{
   margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
   font-size: 7rem;
   color: #2d89c4;
 }

 .pro{
   margin-top: 0;
   font-size: 2rem;
 }

 h2{
   font-family: 'Merriweather', serif;
   color: #369ad9;
 }

 .intro{
   width: 50%;
   margin: 5px auto;
   text-align: justify;
   line-height: 2;
 }

.container{
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg, #b1b0ad,#efefef);
  box-sizing: border-box;
}

.container .icon-img{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;

}

.container .icon-img .icon1{
  height: 80px;
  width: 80px;
  line-height: 30px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  opacity: 0.75;
  border: 2px solid #000708;
  border-radius: 50%;

}

.prog-container{
  margin-top: 15px;
  padding: 10px 0 10px 0;
  text-align: center;
}

.prog-container .prog{
  width: 20%;
}


.myName{
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 4%;
  border-color: #F0BB62;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.skheading{
  margin-bottom: 5rem;
}

.skills-container{
  width: 50%;
  margin: 2rem auto 2rem auto;
  text-align: left;
  line-height: 2;
}

.skill-img{
  width: 25%;
  margin-top: 10px;
  float: left;
  margin-right: 1.875rem;
}

a {
  text-decoration: none;
  color: #2d89c4;
}


.experience-container{
  width: 50%;
  margin: 2rem auto 10rem auto;
  text-align: left;
  line-height: 2;
  margin-top: 20px;
}

.experience-img{
  width: 25%;
  margin-top: 10px;
  float: right;
  margin-left: 1.875rem;
}

.exheading{
  margin-bottom: 5rem;
}

.footer{
  padding: 30px 0;
  background-color: black;
}

.footer .social{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #369ad9;

}
.footer .social a {
  color: inherit;
  font-size: 25px;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 1;

}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  color: white;
}
